* {
    margin: 0;
    padding: 0;
}
body{
	overflow:hidden;
}
#color{
	position:absolute;
	z-index: 10;
	width:100%;
	height: 643px;
	display:none;
	top:0;
	left: 0;
}
.navbar-default{
	background-color: rgba(0,0,0,0.1);
	border: 0px;
	color: black;
	font-size: 15px;
}
#header-nav{
	/*display: none;*/
}
#test{
}
.box{
	background: url(https://photo.tuchong.com/376715/f/7260186.webp) no-repeat;
	height: 643px;
	background-attachment:fixed;
	background-size: 100%;
}
/*#box1{

}
#box2{
	background-position: 0 -325px;
}*/

#center{
	position: fixed;
	top:55%;
	left:30%;
	text-align: center;
	line-height: 80px;
	text-shadow:10px 15px 5px #000;
	cursor:pointer;
}
.time{
	font-size: 100px;
	color: #fff;
}
.word{
	font-size: 70px;
	color:#fff;
}
#button{
	position: absolute;
	left:45%;
	top:500px;
	z-index: 999;
	width:10%;
	font-size: 30px;
	text-align: center;
	text-shadow:3px 6px 5px;
	border-radius: 30px;
	background-color:  rgba(0,0,0,0);
	box-shadow: 10px 10px 10px;
	/*display: none;*/
}
#button .btn{
	width: 150px;
	font-size: 25px;
	color: #fff;
	background-color: rgba(0,0,0,0.1);
}
#content textarea{
	width:50%;
	overflow:hidden;
	background-color: rgba(0,0,0,0);
	border-style: none;
	height: 200px;
	margin: 25px 0;
	line-height: 22px;
}
#content section{
	width:20%;
	height: 250px;
	margin: 10%;
	float: left;
	font-size: 25px;
}
#content{
	font-weight: bolder;
	display: none;
	position:absolute;
	top:50px;
	left: 10%;
	height: 500px;
	width: 80%;
	/*border:2px solid red;*/
	z-index: 20;

}

#content1{
	position:absolute;
	height: 250px;
	width: 100%;
	/*border:2px solid black;*/
	top:0px;

}

#content2{
	position:absolute;
	height: 250px;
	width: 100%;
	/*border:2px solid black;*/
	top:250px;

}


footer{
	/*display: none;*/
	z-index: 20;
	background-color: rgba(0,0,0,0.1);
	position:fixed;
	bottom: 0px;
	height: 20px;
	padding-top: 0px;
	width:100%;
	/*background: url(../img/03033.jpg);*/
	text-align: center;
}
footer a{
	color: #000;
	font-size: 3px;
}